In [16]:
# import packages

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
# extract data

places_data = pd.read_csv("C:\\To Read\\Data_sets\\Top Indian Places to Visit.csv")
places_data

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,None,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,None,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,None,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,None,Scientific,Yes,0.31,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,320,Western,Gujarat,Gandhinagar,Akshardham,Temple,1992,3.0,4.6,0,Yes,Monday,Religious,No,0.18,All
321,321,Central,Uttar Pradesh,Agra,Agra Fort,Fort,1565,2.0,4.5,40,Yes,None,Historical,Yes,1.30,Afternoon
322,322,Central,Madhya Pradesh,Bhopal,Madhya Pradesh Tribal Museum,Museum,2013,2.0,4.7,10,Yes,Monday,Cultural,Yes,0.15,All
323,323,Northern,Rajasthan,Jaipur,City Palace,Palace,1727,2.0,4.4,200,Yes,None,Historical,Yes,0.51,Morning
324,324,Northern,Rajasthan,Jaipur,Albert Hall Museum,Museum,1887,2.0,4.5,200,Yes,None,Historical,Yes,0.63,All

In [6]:
# preprocessing

places_data = places_data.drop(columns=['Unnamed: 0', "Name", 'Zone', 'State', 'City', 'time needed to visit in hrs','Establishment Year','Airport with 50km Radius','Weekly Off','Significance','DSLR Allowed','Best Time to visit'])
places_data

,Type,Google review rating,Entrance Fee in INR,Number of google review in lakhs
0,War Memorial,4.6,0,2.60
1,Tomb,4.5,30,0.40
2,Temple,4.6,60,0.40
3,Theme Park,4.1,50,0.27
4,Observatory,4.2,15,0.31
...,...,...,...,...
320,Temple,4.6,0,0.18
321,Fort,4.5,40,1.30
322,Museum,4.7,10,0.15
323,Palace,4.4,200,0.51
324,Museum,4.5,200,0.63

In [7]:
places_data.isnull().sum()

Type                                0
Google review rating                0
Entrance Fee in INR                 0
Number of google review in lakhs    0
dtype: int64

In [8]:
places_data = places_data[(places_data!=0).all(axis = 1)]

In [9]:
places_data.isnull().sum()

Type                                0
Google review rating                0
Entrance Fee in INR                 0
Number of google review in lakhs    0
dtype: int64

In [10]:
places_data

,Type,Google review rating,Entrance Fee in INR,Number of google review in lakhs
1,Tomb,4.5,30,0.40
2,Temple,4.6,60,0.40
3,Theme Park,4.1,50,0.27
4,Observatory,4.2,15,0.31
7,Fort,4.5,35,1.50
...,...,...,...,...
318,Museum,4.4,50,0.24
321,Fort,4.5,40,1.30
322,Museum,4.7,10,0.15
323,Palace,4.4,200,0.51
324,Museum,4.5,200,0.63

In [21]:
places_data = pd.get_dummies(places_data, dtype=int)
places_data

,Google review rating,Entrance Fee in INR,Number of google review in lakhs,Type_Adventure Sport,Type_Amusement Park,Type_Aquarium,Type_Beach,Type_Bird Sanctuary,Type_Botanical Garden,Type_Cave,...,Type_Temple,Type_Temples,Type_Theme Park,Type_Tomb,Type_Tombs,Type_Valley,Type_Vineyard,Type_Waterfall,Type_Wildlife Sanctuary,Type_Zoo
1,4.5,30,0.40,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,4.6,60,0.40,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,4.1,50,0.27,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,4.2,15,0.31,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,4.5,35,1.50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,4.4,50,0.24,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
321,4.5,40,1.30,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
322,4.7,10,0.15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
323,4.4,200,0.51,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
324,4.5,200,0.63,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
input_dat = places_data.drop(columns=["Entrance Fee in INR"])
output_dat = places_data['Entrance Fee in INR']

In [49]:
input_train, input_test, output_train, output_test = train_test_split(input_dat, output_dat, test_size=0.25)
model = LinearRegression()
model.fit(input_train, output_train)
print(model.predict(input_test))

[ 2.58109375e+02  2.61250000e+01  1.93718750e+02  7.43967188e+03
  8.25937500e+01  3.20781250e+01  2.06250000e+01  3.25312500e+01
  4.07187500e+01  1.50817188e+03  3.23250000e+02  4.42218750e+02
  5.86406250e+01  1.52476562e+03 -1.40349715e+14  5.99843750e+01
  6.49843750e+01 -2.72954581e+15  5.15000000e+01  5.05937500e+01
  4.40750000e+02  7.12031250e+01 -9.50235395e+14  1.05570089e+15
  5.88750000e+01  1.54295312e+03  6.11562500e+01  6.25312500e+01
  2.30750000e+02 -1.40349715e+14  4.30625000e+01  8.87812500e+01
 -3.06562500e+01 -1.40349715e+14 -1.40349715e+14  4.46406250e+01]

In [50]:
score = (model.score(input_train, output_train))*100
score = int(score)
print(f"The score will be {score}%")

The score will be 85%